@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

legend {
    background-color: rgba(29, 29, 192, 0.87);
    border-radius: 3px;
    color: white;
}

.Judul {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

fieldset {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #B721FF , #21D4FD );
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.ubah {
    width: 185px;
}

.select {
    border-radius: 4px;
    border: 1px solid black;
}

.textarea {
    border-radius: 4px;
    border: 1px solid black;
}

input[type="text"] {
    border-radius: 3px;
    border: 1px solid black;
}

input[type="password"] {
    border-radius: 3px;
    border: 1px solid black;
}

input[type="email"] {
    border-radius: 3px;
    border: 1px solid black;
}

input[type="number"] {
    border-radius: 3px;
    border: 1px solid black;
    width: 201px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input:invalid {
    border: none;
    outline: 2px solid red;
    border-radius: 2px;
}

input[type="submit"] {
    background-color: lightskyblue;
    color: black;
    border-radius: 5px;
    margin: auto;
    width: 50%;
}

input[type="reset"] {
    background-color: lightcoral;
    color: black;
    border-radius: 5px;
    margin: auto;
    width: 50%;
}

input[type="submit"]:hover {
    background-color: darkblue;
    transition: .4s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
    color: white;
}

input[type="reset"]:hover {
    background-color: darkred;
    transition: .4s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
    color: white;
}